/* JOSH COMEAU CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  display: flex;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.left-container {
  color: aliceblue;
  flex: 1;
  background: url(images/holiday.jpg);
  min-width: 35vw;
  min-height: 100vh;
}

.brand-container {
  margin-top: 10rem;
  display: flex;
  background: rgb(5, 5, 5, 0.8);
}

.logo {
  min-height: 8rem;
}

.logo-text {
  font-family: "Cinzel Decorative", serif;
  font-size: 3rem;
  margin-top: 2rem;
}

.reference {
  text-align: center;
  margin-top: 62vh;
  color: black;
}

.reference a {
  color: black;
  cursor: pointer;
}
